__pycache__
.idea

data/classifier_toy_dataset.npy
data/classifier_toy_labels.npy

data/autoencoder_train.npy
data/autoencoder_test_signals.npy
data/autoencoder_test_backgrounds.npy
data/models
data
!/data/.keep